<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
     <meta charset="UTF-8">
     <title>能力展示 - 首页</title>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
     <meta name="theme-color" content="#000000" />
     <style data-jss="" data-meta="MuiSvgIcon"></style>
     <link rel="stylesheet" href="/static/botong_style.css" />
 </head>

<body>
<div id="root" class="app">
<header class="title_1">
                    <div class="title_box_2">

                        <img aria-current="page" class="image_title" href="/"><img alt="Logo" src="/static/images/botong.svg" style="height: 64px; padding-top: 10px;" /></img>

                        <a id="main_page" aria-current="page" class="text_title_active active" href="/" style="min-width: 120px;">
                            <div style="margin: auto;">
                             首页
                            </div></a>
<!--                        <a id="chat" aria-current="page" class="text_title_deactive active" href="/chat" style="min-width: 120px;">-->
<!--                            <div style="margin: auto;">-->
<!--                             其他-->
<!--                            </div></a>-->
{#                        <a id="tools" aria-current="page" class="text_title_deactive active" href="/ad" style="min-width: 120px;">#}
{#                            <div style="margin: auto;">#}
{#                             工具箱#}
{#                            </div></a>#}
                    </div>
                </header>
</div>
<div class="main_box1" id="rootContainer">
 <div class="main_box2">
  <div class="main_box3">
   <div class="main_box4">
    <div>
     <div class="block_box1">
         <div class="">
           <h1>AI工具组件库</h1>
           <div>
            <div>
             本平台用于展示各类AI能力。页面尚在建设完善中，如遇到问题请见谅。
            </div>
               <div>
             意见建议或者应用协商请联系具体能力提供作者或者easingliu（企业微信）。
            </div>
<!--            <div>-->
<!--             <span><a rel="noopener noreferrer" target="_blank" href="http://km.oa.com/group/28182/articles/show/441956">平台最近更新</a></span>&nbsp; &nbsp;-->
<!--             <span><a rel="noopener noreferrer" target="_blank" href="http://km.oa.com/knowledge/6022">博通技术干货</a></span>-->
<!--            </div>-->
           </div>
<!--           <div>-->
<!--            平台当前共支持-->
<!--            <b style="color: rgb(75, 0, 130); font-size: 1.25rem;">89</b>个能力, 过去一周有-->
<!--            <b style="color: rgb(75, 0, 130); font-size: 1.25rem;">57</b>个业务调用, 平台日均调用量-->
<!--            <b style="color: rgb(75, 0, 130); font-size: 1.25rem;">303,677,465</b>次-->
<!--           </div>-->
<!--           <div class="MuiBox-root jss83">-->
<!--            <button class="MuiButtonBase-root MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary MuiButton-outlinedSizeSmall MuiButton-sizeSmall" tabindex="0" type="button"><span class="MuiButton-label">使用能力</span><span class="MuiTouchRipple-root"></span></button>-->
<!--           </div>-->
          </div>
          <div class=""></div>
         </div>
        <div id="ability-list-container">
  <hr> <!-- 分隔线 -->
  <h1 style="font-weight: bold; font-size: 2em;">能力列表</h1> <!-- 标题 -->
  <div style="display: flex; flex-wrap: wrap;"> <!-- 标签容器 -->
    <a href="/ad" style="display: inline-block; width: 120px; height: 60px; margin: 10px; padding: 10px; box-shadow: 2px 2px 5px grey; border: 1px solid black; text-align: center;">素材诊断</a>
    <a href="/ad_gen" style="display: inline-block; width: 120px; height: 60px; margin: 10px; padding: 10px; box-shadow: 2px 2px 5px grey; border: 1px solid black; text-align: center;">素材生成</a>
      <a href="/zero_label" style="display: inline-block; width: 120px; height: 60px; margin: 10px; padding: 10px; box-shadow: 2px 2px 5px grey; border: 1px solid black; text-align: center;">文本分类/打标</a>
    <!-- 添加更多标签 -->
  </div>

</div>
<!--         <div style="display: flex; height: 0px;">-->
<!--          <div style="position: relative; margin-top: 20px; margin-left: auto;">-->
<!--           <div class="MuiBox-root jss84">-->
<!--            <div class="MuiBox-root jss85" style="margin-right: 1.5rem;">-->
<!--             <label class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-animated" id="demo-simple-select-label">排序方式</label>&nbsp;-->
<!--             <div class="MuiInputBase-root MuiInput-root MuiInput-underline">-->
<!--              <div class="MuiSelect-root MuiSelect-select MuiSelect-selectMenu MuiInputBase-input MuiInput-input" tabindex="0" role="button" aria-haspopup="listbox">-->
<!--               调用量-->
<!--              </div>-->
<!--              <input aria-hidden="true" tabindex="-1" class="MuiSelect-nativeInput" value="usage" />-->
<!--              <svg class="MuiSvgIcon-root MuiSelect-icon" focusable="false" viewbox="0 0 24 24" aria-hidden="true">-->
<!--               <path d="M7 10l5 5 5-5z"></path>-->
<!--              </svg>-->
<!--             </div>-->
<!--            </div>-->
<!--           </div>-->
<!--          </div>-->
<!--         </div>-->

                </div>
            </div>
        </div>
    </div>

</div>

<!--                        <div class="text_title active"></div>-->

<!--                        <div class="text_title active" id="helpMenu" style="cursor: pointer;">-->
<!--                            <a class="jss14 jss15" href="/help" style="min-width: 80px;">-->
<!--                             <div style="margin: auto;">-->
<!--                              对话模型-->
<!--                             </div></a>-->
<!--                        </div>-->

<!--                        <a id="header-console" class="jss14 jss15" href="/console" style="min-width: 80px;">-->
<!--                            <div style="margin: auto;">-->
<!--                             工具箱-->
<!--                            </div></a>-->
<!--                        <div class="jss20" id="messageBox">-->
<!--                            <span class="MuiBadge-root">-->
<!--                             <svg class="MuiSvgIcon-root MuiSvgIcon-colorPrimary" focusable="false" viewbox="0 0 24 24" aria-hidden="true">-->
<!--                              <path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 4.99L4 6h16zm0 12H4V8l8 5 8-5v10z"></path>-->
<!--                             </svg><span class="MuiBadge-badge MuiBadge-anchorOriginTopRightRectangle MuiBadge-colorError MuiBadge-invisible MuiBadge-dot"></span></span>-->
<!--                           </div>-->

</div>
<script src="/static/main_page.js"></script>
</body>
</html>

